@charset "utf-8";
main{
    text-align: center;
}
button{
    height: 300px;
    width: 400px;
    margin:50px 50px;
    font-size:50px;
    border-radius: 30px;
    background-color:#ff00ea;
}
.quiz p{
    width: 300px;
}
h3{
    color: #fff;
}
.sen h1{
    border-bottom: solid 2px;
    border-color: #fff;
    /* 文字の長さに応じてborderの長さが可変 */
    display: inline-block;
    width: 1400px;
    color:#fff;
}

/* ここからheader */
body{
    margin:0;
    background-color:#212E3D;
    width:100%;
}
header{
    background-color:#E6E9EC;
    width:100%;
}
#rogo{
    padding:20px 20px;
    width:168px;
    height:180;

}
.header-list table{
    position:absolute;
    border-spacing:20px;
    top:140px;
    left:280px;
}
.siz{
    width:82px;
    height:25px;
}
#ken{
    position:absolute;
    width:30px;
    height:30px;
    top:23px;
    right:130px;
}
#rogu{
    widows:60px;
    height:15px;
}
/* ここまでheader */
